

.spacer-row {
  height:100px;
}

ul {
  list-style-type:none;
}

.members-list {
  font-size: 50px;
}

h1 {
  font-weight:200;
}

.hero-meta {
  font-size:12px;
  font-weight:200;
  display:block;
}

.members-list li {
  font-weight:100;
  padding:20px;
  letter-spacing: 1px;
  cursor:pointer;
}


.members-list li:hover, #member-abilities li:hover {
  background:#C2FFFF;
  color:black;
}

#member-abilities li {
  display:inline;
  padding:5px;
  cursor:pointer;
}

.member-name {
  height:30px;
}

.icon-remove, .add-on {
  cursor:pointer;
}

